################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################


# Arquivos temporários gerados pelo Visual Studio
/.idea
.vs/
*.vscode/
*/bin/
*/obj/

# Arquivos de build
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Nn][Yy]/

# Dependências do NuGet
packages/

# Arquivos de usuário do Visual Studio
*.user
*.suo
*.cache
*.bak
*.log

# Arquivos de configuração criados pelo Visual Studio
*.vspscc
*.vssscc
*.app.config

# Arquivos de banco de dados locais
*.mdf
*.ldf
*.sdf

# Arquivos de saída
[Bb]in/
[Oo]bj/

# Arquivos de publicação web
*.Publish.xml
*.pubxml

# Arquivos do projeto
*.csproj.user
*.csproj.vspscc

# Arquivos do ReSharper
_ReSharper*/
*.ReSharper*/

# Arquivos do CodeRush
*.CR/
